<fieldset>
  <h1>Submit a movie and your review</h1>

  <div class="purple" *ngIf='(title.touched) && title.errors'>
    <div class="purple" *ngIf='title.errors.required'>
      Movies must have a title
    </div>
  </div>
  <div class="purple" *ngIf='(name.touched) && name.errors'>
    <div class="purple" *ngIf='name.errors.required'>
      You must provide your name
    </div>
  </div>
  <div class="purple" *ngIf='(review.touched) && review.errors'>
    <div class="purple" *ngIf='review.errors.required'>
      You must provide a review
    </div>
  </div>

  <div class='container'>
  <form (submit)="movieForm.valid && onSubmit($event, movieForm)" #movieForm='ngForm'>
    <div class="form-group row">
      <label class="control-label col-sm-2">Movie Title</label>
      <div class="col-sm-6">
        <input class="form-control" type="text"
          name="newMovie.title"
          required
          minlength='3'
          [(ngModel)]='newMovie.title'
          #title="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2">Your name</label>
      <div class="col-sm-6">
        <input class="form-control" type="text"
          name="newMovie.review.name"
          required
          minlength='3'
          [(ngModel)]='newMovie.review.name'
          #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2">Stars</label>
      <div class="col-sm-6">
        <select class="form-control" name="newMovie.review.star" required [(ngModel)]='newMovie.review.star'
          #star="ngModel">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2">Your review</label>
      <div class="col-sm-6">
        <textarea class="form-control" name="newMovie.review.message" [(ngModel)]='newMovie.review.message'
          minlength='3'
          required
          #review="ngModel" rows="4" cols="50"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-6">
        <button class='btn btn-success' [disabled]='!movieForm.valid'>Submit</button>
        <button class='btn btn-danger'  [routerLink]='["/"]'>Cancel</button>
      </div>
    </div>

  </form>
  <!-- (click)='onCancel()' -->

  </div>
</fieldset>
